/*특정 사용자 정의 태그(Layout)에 적용할 CSS모음집 */

.container {
    max-width: 80rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    /*background-color: yellow;*/
}

.header {
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_pc {
    display: none;
    margin: 0 auto;
    max-width: 48rem;
    background-color: purple;
}

.nav {
    background-color: purple;
    position: absolute;
}

.main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 48rem;
    background-color: coral;
    display: flex;
    flex-direction: column;
}

.backToHome {
    margin: 3rem 0 0;
}

.footer {
    background-color: green;
}
